<div id="sidebar-wrapper">
       <ul class="sidebar-nav">
            <br/>
            <li class="sidebar-brand">
                <a class="brandFontLarge" align="center" href="/">
                  Stories !!!
                </a>
            </li>
            <br>
            <li><a class="menus" align="center" href="/stories">Stories</a></li>
            <li><a class="menus" align="center" href="/new-story">Share your own story</a></li>
            <li><a class="menus" align="center" href="/techStack">Tech stack</a></li>
            <br>         
            <div align="center">
            <img class="img-circle" src="/images/logo.png"/>
            </div>
            <br><br>
            {{#if loggedout }}
            <div align="center">
             <a type="button" href="/login" class="btn btn-success  outline">Login</a>&nbsp;&nbsp;&nbsp;
             <a type="button" href="/register" class="btn btn-info  outline">Register</a>
            </div>
            {{else}}
            <div align="center">
             <a type="button" align="center" href="/logout" class="btn btn-warning outline">Logout</a>&nbsp;&nbsp;&nbsp;
            </div>
            {{/if}}
            
    </ul>
</div>
