
<p align="center" class="headingFont">
Stories of Life !!!
</p>
<br>
<blockquote class="mainLines">
Everyone is a traveller in our journey of life and everyone has a story to tell.
Right now when you are reading this someone is going to be appearing at an exam.
A baby is balancing his first steps.
A player is going to hit a home run. An actor is going to receive an award.<br/><br/> Every second creates a story
and we share the best stories with you.<br/> Read the stories <a href="/stories">here</a> or <a href="/new-story">write your own story</a>
</blockquote>

