<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tech Stack</title>
    {{>head}}
</head>
<body>
    <div id="wrapper">
        {{>sidebarMenu}}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p align="center" class="headingFont">
                            Stories !!!
                        </p>
                        <br/>
                        <blockquote class="mainLines">
                        This application is developed using  NodeJS, ExpressJS, MongoDB and styled using Twitter Bottstrap.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>jsIncludes}}
</body>
</html>